@font-face {
  font-family: 'Codec Pro';
  src: url('./assets/fonts/codec-pro.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Codec Pro ExtraBold';
  src: url('./assets/fonts/Codec\ Pro\ ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --rtc-bg-color: #101728;
  --rtc-primary-color: #ffffff;
  --rtc-secondary-color: #9340ff;
  --rtc-tertiary-color: #ff3c5f;

  --rtc-font-size-h1-xs: 16px;
  --rtc-font-size-h1-s: 20px;
  --rtc-font-size-h2-s: 20px;
  --rtc-font-size-h2-m: 24px;
  --rtc-font-size-h2-l: 32px;
  --rtc-font-size-h2-xl: 40px;
  --rtc-font-size-p-xs: 14px;
  --rtc-font-size-p-s: 16px;
  --rtc-font-size-p-m: 20px;

  --rtc-height-logo: 30px;
  --rtc-height-network-logo: 25px;
  --rtc-width-logo: 30px;
  --rtc-width-network-logo: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--rtc-bg-color);
  margin: 0 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 4rem 2rem;
}

h1,
h2 {
  font-family: 'Codec Pro ExtraBold';
}

h2 {
  font-size: var(--rtc-font-size-h2-s);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

span {
  color: var(--rtc-bg-color);
}

h2,
p {
  line-height: 1.25;
}

p {
  padding: 0 1rem;
}

p,
span {
  font-family: 'Codec Pro';
  font-size: var(--rtc-font-size-p-xs);
  font-weight: 600;
}

span:hover {
  color: var(--rtc-primary-color);
}

img {
  border-radius: 1rem;
}

h1,
p,
header a,
.rtc--main-hero-info-h2 {
  color: var(--rtc-primary-color);
  text-align: center;
}

.rtc--header-logo,
.rtc--footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rtc--header-logo-img,
.rtc--footer-logo-img {
  width: var(--rtc-width-logo);
  height: var(--rtc-height-logo);
}

.rtc--header-logo-h1 {
  display: inline-block;
  font-size: var(--rtc-font-size-h1-xs);
}

.rtc--header-nav a {
  font-family: 'Codec Pro';
}

.rtc--header-nav a:hover {
  text-decoration: underline;
}

.rtc--header-nav-list {
  display: none;
}

.rtc-slide {
  padding-bottom: 8rem;
}

.rtc--main-hero,
.rtc--main-demo {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.rtc--main-hero-info,
.rtc--main-demo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.rtc--main-hero-info-button {
  background: linear-gradient(
    to right,
    var(--rtc-tertiary-color),
    var(--rtc-secondary-color)
  );
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 0.85rem;
}

.rtc--main-hero-img_container,
.rtc--main-demo-img_container {
  display: flex;
  justify-content: center;
}

.rtc--main-hero-img,
.rtc--main-demo-img {
  width: 14rem;
  height: 16rem;
  object-fit: cover;
  box-shadow: -5px 5px 40px 5px #1f41bb;
}

.rtc--main-about {
  display: flex;
  flex-direction: column;
}

.rtc--main-about-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

.rtc--main-about-info-h2 {
  padding-bottom: 1rem;
}

.rtc--main-about-info-h2,
.rtc--main-demo-info-h2,
.rtc--footer-contact-info-h2 {
  color: var(--rtc-secondary-color);
  text-align: center;
}

.rtc--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-bottom: 4rem;
}

.rtc--footer-contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.rtc--footer-contact-info-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.rtc--footer-contact-networks > ul {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.rtc--footer-contact-networks-img {
  border-radius: 0.5rem;
  width: var(--rtc-width-network-logo);
  height: var(--rtc-height-network-logo);
}

@media screen and (min-width: 320px) {
  .rtc--header-logo-h1 {
    font-size: var(--rtc-font-size-h1-s);
  }

  .rtc--main-about-info,
  .rtc--main-demo-info {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 540px) {
  body {
    margin: 0 2rem;
  }

  header {
    gap: 2.5rem;
  }

  h2 {
    font-size: var(--rtc-font-size-h2-m);
    padding-bottom: 1.5rem;
  }

  .rtc--header-nav-list {
    display: flex;
    gap: 2.5rem;
  }

  .rtc--main-hero-img {
    width: 16rem;
    height: 18rem;
  }

  .rtc--main-about-info {
    padding: 0 4rem;
  }

  .rtc--main-demo-img {
    width: 16rem;
    height: 20rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
    padding-bottom: 6rem;
  }

  h2 {
    font-size: var(--rtc-font-size-h2-l);
  }

  p {
    line-height: 1.25;
  }

  .rtc--main-hero,
  .rtc--main-demo {
    flex-direction: row-reverse;
    align-items: center;
    gap: 0;
  }

  .rtc-slide {
    padding-bottom: 10rem;
  }

  .rtc-half {
    width: 50%;
  }

  .rtc--main-about-info {
    padding: 2rem 4rem 0 4rem;
  }

  .rtc--footer {
    flex-direction: row;
    align-items: flex-start;
  }

  .rtc--footer-logo {
    justify-content: center;
  }
}

@media screen and (min-width: 850px) {
  h2 {
    font-size: var(--rtc-font-size-h2-xl);
  }

  p {
    font-size: var(--rtc-font-size-p-s);
  }

  .rtc--header-nav a,
  span {
    font-size: var(--rtc-font-size-p-s);
  }

  .rtc--header-nav-list {
    gap: 4rem;
    padding-right: 2rem;
  }

  .rtc--main-hero-info {
    gap: 4rem;
  }

  .rtc--main-hero-img {
    width: 18rem;
    height: 20rem;
  }

  .rtc--main-demo-img {
    width: 18rem;
    height: 22rem;
  }
}

@media screen and (min-width: 1024px) {
  span {
    font-size: var(--rtc-font-size-p-s);
  }

  .rtc-slide {
    padding-bottom: 12rem;
  }

  .rtc--main-hero-info-button {
    padding: 1.1rem;
  }

  .rtc--main-about-info {
    gap: 4rem;
    padding: 2rem 8rem 8rem 8rem;
  }

  .rtc--main-about-info-description {
    font-size: var(--rtc-font-size-p-m);
  }
}

@media screen and (min-width: 1200px) {
  p {
    font-size: var(--rtc-font-size-p-m);
  }

  .rtc--header-nav-list {
    gap: 8rem;
  }

  .rtc-slide {
    padding-bottom: 16rem;
  }

  .rtc--main-hero-info {
    gap: 6rem;
    padding-top: 6rem;
  }
}
